---
# Styles
---

body {
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    vertical-align: middle;
}

.portfolio {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.repo {
    display: block;
    width: 25%;
    padding: 20px;
    border: 1px solid white;
    border-top: 0;
    border-left: 0;
    background: #f4f4f4;
    &:nth-of-type(4n) {
        border-right: 0;
    }
    a {
      font-size: 1.2rem;
    }
    &--html {
        background: fade-out(#F16529, 0.75);
        .icon {
            fill: #F16529;
        }
    }
    &--css {
        background: fade-out(#29A9DF, 0.75);
        .icon {
            fill: #29A9DF;
        }
    }
    &--js {
        background: fade-out(#F8DC3D, 0.75);
        .icon {
            fill: #F8DC3D;
        }
    }
    &--php {
        background: fade-out(#617CBE, 0.75);
        .icon {
            fill: #617CBE;
        }
    }
    &--liquid {
        background: fade-out(#95BE46, 0.75);
        .icon {
            fill: #95BE46;
        }
    }
}
