---
# Styles
---

body {
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333333;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 1.4rem;
    line-height: 2.8rem;
    font-weight: 400;
}

h3 {
    font-size: 1.15rem;
    line-height: 2.3rem;
    display: inline;
    font-weight: 700;
}

.header {
    min-height: 50vh;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.portfolio {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    &:hover {
        .repo {
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.repo {
    display: block;
    width: 25%;
    padding: 20px;
    border: 1px solid white;
    border-top: 0;
    border-left: 0;
    background: #f4f4f4;
    transition: .2s;
    &:nth-of-type(4n) {
        border-right: 0;
    }
    a {
      font-size: 1.15rem;
      text-decoration: none;
    }
    &--html {
        background: fade-out(#F16529, 0.9);
        .icon {
            fill: #F16529;
            &:after {
                background: #F16529;
            }
        }
        a {
            color: #F16529;
        }
    }
    &--css {
        background: fade-out(#29A9DF, 0.9);
        .icon {
            fill: #29A9DF;
            &:after {
                background: #29A9DF;
            }
        }
        a {
            color: #29A9DF;
        }
    }
    &--js {
        background: fade-out(#F8DC3D, 0.9);
        .icon {
            fill: #F8DC3D;
            &:after {
                background: #F8DC3D;
            }
        }
        a {
            color: #F8DC3D;
        }
    }
    &--php {
        background: fade-out(#617CBE, 0.9);
        .icon {
            fill: #617CBE;
            &:after {
                background: #617CBE;
            }
        }
        a {
            color: #617CBE;
        }
    }
    &--liquid {
        background: fade-out(#95BE46, 0.9);
        .icon {
            fill: #95BE46;
            &:after {
                background: #95BE46;
            }
        }
        a {
            color: #95BE46;
        }
    }
}
