---
# Front matter
title: GitHub Portfolio Example
description: A Demo of an Open Source Portfolio Using GitHub Pages
---
<!doctype html>
<html lang="en-GB">
  <head>
    <title>{{ page.title }}</title>
    <link href="./css/styles.css" media="all" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    {% include icons.svg %}
    <header class="header">
      <h1>{{ page.title }}</h1>
      <h2>{{ page.description }}</h2>
    </header>

    <ul class="portfolio">
      {% for repo in site.github.public_repositories %}
        {% if repo.fork != true %}
          <li class="repo  repo--{{ repo.language | downcase }}">
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ repo.language | downcase }}"></use>
            </svg>
            <a href="{{ repo.homepage }}">{{ repo.name }}</a>
            <p>{{ repo.description }}</p>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

  </body>
</html>
